body {
    margin: 0;
    background-color: antiquewhite;
}


.wrapper {
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

}

.header {
    background-image: url("images/3-fruit.jpg");
    height: 300px;
    margin: 0;

}

.site-id {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}